<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.DashboardDao">
    <select id="findAll" resultType="vo.DashboardVO">
        SELECT * from myboard
    </select>

    <select id="selectBoard" resultType="vo.DashboardVO" parameterType="utills.page.PageMaker">
        SELECT *
        FROM myboard
        ORDER BY createdDate DESC
        LIMIT #{pageNum}, #{contentNum}
    </select>

    <select id="findBySeq" parameterType="int" resultType="vo.DashboardVO">
        SELECT *
        FROM myboard
        WHERE seq = #{seq}
    </select>

    <select id="selectCount" resultType="int">
        SELECT COUNT(*) FROM myboard
    </select>
</mapper>